@model List<cheli4.Models.RecursosHumanos.Codigo>;
@{
    ViewData["Title"] = "Codigos";
}

<h3>My codes:</h3>

@if (TempData["Fail"] != null)
{
    <p class="alert alert-danger">@TempData["Fail"]</p>
}
else
{

<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table">
                @foreach(var c in Model)
                {
                    <tr>
                        <td>
                            @c.codigo
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
}



