
@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
    <div class="row">
        <div class="col-sm " align="center">
            <h3>Description:</h3>
            <p>The Cheli4 application is a personal assistant that will help you make your favorite recipes to explain and control the recipe process. If you have not tried it yet, look for a recipe you want to make, and start taking your first steps. Good luck!</p>
        </div>
    </div>
</div>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Contacts:</h4>
            <ul>
                <li>
                    Quetions: help@sonae.pt
                </li>
                <li>
                    Tel: 253 333 444
                </li>
                <li>
                    Location SONAE:
                    Lugar do Espido, Via Norte, Apartado 1011
                    4471-909 Maia, Portugalvic

                    +351 220 104 000
                </li>
                <li>
                    Developer team: mieiteam@uminho.pt
                </li>
                <li>
                    Location developer team:
                    Largo do Paço
                    4704-553 Braga
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/imagens/home.png" />
        </div>
    </div>
</div>

