@model IEnumerable<cheli4.Models.Comercial.Passo>
@{
    ViewData["Title"] = "getPassos";
}

<h1>Passos:</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var passo in Model)
        {
            <tr>
                <td>@passo.id - @passo.descricao - @passo.duracao</td>
            </tr>
        }
    </tbody>
</table>