@model cheli4.Models.Comercial.Receita;
@{
    ViewData["Title"] = "Search";
}

<div class="row" align="center">
    <div class="col-sm text-center">
        @if (TempData["Fail"] != null)
        {
            <p class="alert alert-danger">@TempData["Fail"]</p>
        }
            <form asp-action="pesquisarReceitaPorNome">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label">Enter the name of the recipe to look for:</label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search with name" class="btn btn-default btn-primary" />
                </div>
            </form>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="~/imagens/home.png" />
        </div>
    </div>
</div>

