<div class="text-center">
    <a asp-controller="ClienteView" asp-action="getClientes">Listar todos os clientes</a>
    <p></p>
    <a asp-controller="PesquisarReceitaView" asp-action="getReceitas">Listar todas as receitas</a>
</div>