USE [master]
GO

DROP DATABASE cheli4;

/****** Object:  Database [cheli4]    Script Date: 03/06/2019 11:53:36 ******/
CREATE DATABASE [cheli4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cheli4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cheli4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cheli4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cheli4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cheli4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cheli4]
GO
/****** Object:  Table [dbo].[Agenda]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agenda](
	[FK_username_cliente] [varchar](45) NOT NULL,
	[FK_id_receita] [int] NOT NULL,
	[data] [datetime] NOT NULL,
 CONSTRAINT [PK_Agenda] PRIMARY KEY CLUSTERED 
(
	[FK_username_cliente] ASC,
	[FK_id_receita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[username] [varchar](45) NOT NULL,
	[password] [varchar](45) NOT NULL,
	[nome] [varchar](45) NOT NULL,
	[email] [varchar](45) NOT NULL,
	[peso] [float] NULL,
	[altura] [float] NULL,
	[data_nascimento] [date] NULL,
	[idade] [int] NULL,
	[apagado] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteReceita]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteReceita](
	[FK_username_cliente] [varchar](45) NOT NULL,
	[FK_id_receita] [int] NOT NULL,
	[n_realizada] [int] NOT NULL,
	[ultima_nota] [int] NOT NULL,
 CONSTRAINT [PK_ClienteReceita] PRIMARY KEY CLUSTERED 
(
	[FK_username_cliente] ASC,
	[FK_id_receita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Codigo]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Codigo](
	[codigo] [varchar](10) NOT NULL,
	[FK_username_cliente] [varchar](45) NOT NULL,
 CONSTRAINT [PK_Codigo] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expressao]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expressao](
	[expressao] [varchar](512) NOT NULL,
	[descricao] [text] NOT NULL,
	[FK_id_passo] [int] NOT NULL,
 CONSTRAINT [PK_Expressao] PRIMARY KEY CLUSTERED 
(
	[expressao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[id] [int] NOT NULL,
	[nome] [varchar](45) NOT NULL,
	[tipo] [varchar](45) NOT NULL,
	[calorias] [int] NOT NULL,
 CONSTRAINT [PK_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passo]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passo](
	[id] [int] NOT NULL,
	[descricao] [text] NOT NULL,
	[duracao] [int] NOT NULL,
 CONSTRAINT [PK_Passo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[id_pergunta] [int] NOT NULL,
	[pergunta] [text] NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[id_pergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receita]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[id] [int] NOT NULL,
	[nome] [varchar](45) NOT NULL,
	[tipo] [varchar](45) NOT NULL,
	[duracao] [int] NOT NULL,
	[gastronomia] [varchar](45) NOT NULL,
	[disponivel] [int] NOT NULL,
	[nomeFotoNormal] [varchar](50) NOT NULL,
	[nomeFotoMiniatura] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Receita] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceitaIngrediente]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaIngrediente](
	[FK_id_receita] [int] NOT NULL,
	[FK_id_ingrediente] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
 CONSTRAINT [PK_ReceitaIngrediente] PRIMARY KEY CLUSTERED 
(
	[FK_id_receita] ASC,
	[FK_id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceitaPasso]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceitaPasso](
	[FK_id_receita] [int] NOT NULL,
	[FK_id_passo] [int] NOT NULL,
	[ordem] [int] NOT NULL,
 CONSTRAINT [PK_ReceitaPasso] PRIMARY KEY CLUSTERED 
(
	[FK_id_receita] ASC,
	[FK_id_passo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resposta]    Script Date: 03/06/2019 11:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resposta](
	[FK_username_cliente] [varchar](45) NOT NULL,
	[FK_id_receita] [int] NOT NULL,
	[data] [datetime] NOT NULL,
	[FK_id_pergunta] [int] NOT NULL,
	[resposta] [int] NOT NULL,
 CONSTRAINT [PK_Resposta] PRIMARY KEY CLUSTERED 
(
	[FK_username_cliente] ASC,
	[FK_id_receita] ASC,
	[data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Cliente] FOREIGN KEY([FK_username_cliente])
REFERENCES [dbo].[Cliente] ([username])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_Cliente]
GO
ALTER TABLE [dbo].[Agenda]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Receita] FOREIGN KEY([FK_id_receita])
REFERENCES [dbo].[Receita] ([id])
GO
ALTER TABLE [dbo].[Agenda] CHECK CONSTRAINT [FK_Agenda_Receita]
GO
ALTER TABLE [dbo].[ClienteReceita]  WITH CHECK ADD  CONSTRAINT [FK_ClienteReceita_Cliente] FOREIGN KEY([FK_username_cliente])
REFERENCES [dbo].[Cliente] ([username])
GO
ALTER TABLE [dbo].[ClienteReceita] CHECK CONSTRAINT [FK_ClienteReceita_Cliente]
GO
ALTER TABLE [dbo].[ClienteReceita]  WITH CHECK ADD  CONSTRAINT [FK_ClienteReceita_Receita] FOREIGN KEY([FK_id_receita])
REFERENCES [dbo].[Receita] ([id])
GO
ALTER TABLE [dbo].[ClienteReceita] CHECK CONSTRAINT [FK_ClienteReceita_Receita]
GO
ALTER TABLE [dbo].[Codigo]  WITH CHECK ADD  CONSTRAINT [FK_Codigo_Cliente] FOREIGN KEY([FK_username_cliente])
REFERENCES [dbo].[Cliente] ([username])
GO
ALTER TABLE [dbo].[Codigo] CHECK CONSTRAINT [FK_Codigo_Cliente]
GO
ALTER TABLE [dbo].[Expressao]  WITH CHECK ADD  CONSTRAINT [FK_Expressao_Passo] FOREIGN KEY([FK_id_passo])
REFERENCES [dbo].[Passo] ([id])
GO
ALTER TABLE [dbo].[Expressao] CHECK CONSTRAINT [FK_Expressao_Passo]
GO
ALTER TABLE [dbo].[ReceitaIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaIngrediente_Ingrediente] FOREIGN KEY([FK_id_ingrediente])
REFERENCES [dbo].[Ingrediente] ([id])
GO
ALTER TABLE [dbo].[ReceitaIngrediente] CHECK CONSTRAINT [FK_ReceitaIngrediente_Ingrediente]
GO
ALTER TABLE [dbo].[ReceitaIngrediente]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaIngrediente_Receita] FOREIGN KEY([FK_id_receita])
REFERENCES [dbo].[Receita] ([id])
GO
ALTER TABLE [dbo].[ReceitaIngrediente] CHECK CONSTRAINT [FK_ReceitaIngrediente_Receita]
GO
ALTER TABLE [dbo].[ReceitaPasso]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaPasso_Passo] FOREIGN KEY([FK_id_passo])
REFERENCES [dbo].[Passo] ([id])
GO
ALTER TABLE [dbo].[ReceitaPasso] CHECK CONSTRAINT [FK_ReceitaPasso_Passo]
GO
ALTER TABLE [dbo].[ReceitaPasso]  WITH CHECK ADD  CONSTRAINT [FK_ReceitaPasso_Receita] FOREIGN KEY([FK_id_receita])
REFERENCES [dbo].[Receita] ([id])
GO
ALTER TABLE [dbo].[ReceitaPasso] CHECK CONSTRAINT [FK_ReceitaPasso_Receita]
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD  CONSTRAINT [FK_Resposta_Cliente] FOREIGN KEY([FK_username_cliente])
REFERENCES [dbo].[Cliente] ([username])
GO
ALTER TABLE [dbo].[Resposta] CHECK CONSTRAINT [FK_Resposta_Cliente]
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD  CONSTRAINT [FK_Resposta_Quiz] FOREIGN KEY([FK_id_pergunta])
REFERENCES [dbo].[Quiz] ([id_pergunta])
GO
ALTER TABLE [dbo].[Resposta] CHECK CONSTRAINT [FK_Resposta_Quiz]
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD  CONSTRAINT [FK_Resposta_Receita] FOREIGN KEY([FK_id_receita])
REFERENCES [dbo].[Receita] ([id])
GO
ALTER TABLE [dbo].[Resposta] CHECK CONSTRAINT [FK_Resposta_Receita]
GO
USE [master]
GO


USE [cheli4]
INSERT [dbo].[Cliente] ([username], [password], [nome], [email], [peso], [altura], [data_nascimento], [idade], [apagado]) VALUES (N'jose', N'5f4dcc3b5aa765d61d8327deb882cf99', N'José Pereira', N'jose@gmail.com', 80, 1.9, CAST(N'1997-06-19' AS Date), 21, 0)
INSERT [dbo].[Cliente] ([username], [password], [nome], [email], [peso], [altura], [data_nascimento], [idade], [apagado]) VALUES (N'ricardo', N'5f4dcc3b5aa765d61d8327deb882cf99', N'Ricardo Petronilho', N'ricardo@gmail.com', 56, 1.73, CAST(N'1998-06-29' AS Date), 20, 0)
INSERT [dbo].[Ingrediente] ([id], [nome], [tipo], [calorias]) VALUES (0, N'codfish', N'fish', 200)
INSERT [dbo].[Ingrediente] ([id], [nome], [tipo], [calorias]) VALUES (1, N'potato', N'vegetable', 25)
INSERT [dbo].[Ingrediente] ([id], [nome], [tipo], [calorias]) VALUES (2, N'cream', N'dairy', 75)
INSERT [dbo].[Passo] ([id], [descricao], [duracao]) VALUES (0, N'Soak the dried salted cod in cold water with the skin side up for 24 hours, changing the water about 4 times. Drain and discard the water.', 10)
INSERT [dbo].[Passo] ([id], [descricao], [duracao]) VALUES (1, N'Preheat an oven to 175 degrees.', 10)
INSERT [dbo].[Passo] ([id], [descricao], [duracao]) VALUES (2, N'Place the cod in a pan with enough water to cover; bring to a boil and cook for 10 minutes. Remove the cod from the pan; remove and discard the skin and bones. Cut the cod into chunks and set aside.', 10)
INSERT [dbo].[Receita] ([id], [nome], [tipo], [duracao], [gastronomia], [disponivel],[nomeFotoNormal],[nomeFotoMiniatura]) VALUES (0, N'Cod with cream', N'fish', 90, N'pt', 1, N'f0N.PNG', N'f0M.PNG')
INSERT [dbo].[Receita] ([id], [nome], [tipo], [duracao], [gastronomia], [disponivel],[nomeFotoNormal],[nomeFotoMiniatura]) VALUES (1, N'duck rice', N'beef', 80, N'pt', 1, N'f1N.PNG', N'f1M.PNG')
INSERT [dbo].[Receita] ([id], [nome], [tipo], [duracao], [gastronomia], [disponivel],[nomeFotoNormal],[nomeFotoMiniatura]) VALUES (2, N'Lagareiro Codfish', N'fish', 120, N'pt', 1, N'f2N.PNG', N'f2M.PNG')
INSERT [dbo].[ReceitaIngrediente] ([FK_id_receita], [FK_id_ingrediente], [quantidade]) VALUES (0, 0, 400)
INSERT [dbo].[ReceitaIngrediente] ([FK_id_receita], [FK_id_ingrediente], [quantidade]) VALUES (0, 1, 500)
INSERT [dbo].[ReceitaIngrediente] ([FK_id_receita], [FK_id_ingrediente], [quantidade]) VALUES (0, 2, 250)
INSERT [dbo].[ReceitaPasso] ([FK_id_receita], [FK_id_passo], [ordem]) VALUES (0, 0, 0)
INSERT [dbo].[ReceitaPasso] ([FK_id_receita], [FK_id_passo], [ordem]) VALUES (0, 1, 1)
INSERT [dbo].[ReceitaPasso] ([FK_id_receita], [FK_id_passo], [ordem]) VALUES (0, 2, 2)
INSERT [dbo].[ClienteReceita] ([FK_username_cliente], [FK_id_receita], [n_realizada], [ultima_nota]) VALUES (N'jose', 0,15 , 6)
INSERT [dbo].[ClienteReceita] ([FK_username_cliente], [FK_id_receita], [n_realizada], [ultima_nota]) VALUES (N'ricardo', 0, 10, 9)
INSERT [dbo].[Expressao] ([expressao], [descricao], [FK_id_passo]) VALUES (N'Preheat an oven', N'something', 1)
INSERT [dbo].[Expressao] ([expressao], [descricao], [FK_id_passo]) VALUES (N'something', N'something', 5)
INSERT [dbo].[Codigo] ([codigo], [FK_username_cliente]) VALUES (N'44XTG477H0', N'jose')
INSERT [dbo].[Codigo] ([codigo], [FK_username_cliente]) VALUES (N'44XTG477H1', N'jose')
INSERT [dbo].[Codigo] ([codigo], [FK_username_cliente]) VALUES (N'44XTG477H2', N'jose')
GO
