<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Cheli4"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Cheli4</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PesquisarReceitaView" asp-action="pesquisarReceitaPorFiltros">Search with filters</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PesquisarReceitaView" asp-action="pesquisarReceitaPorNome">Search with names</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="PesquisarReceitaView" asp-action="Contactos">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ClienteView" asp-action="logout">Log Out</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <style>
            .center-img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 1200px;
            }
        </style>

        <div class="container text-center">
            &copy; 2019 - Cheli4 - All rights reserved.
        </div>

        <div class="container">
            <div class="row">
                <img class="center-img" src="~/imagens/pub.PNG" />
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>